<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<title>Talent Neuron SmartSpider Proto-type Meta Profile</title>
</head>


<body lang=EN-US>
<h2>Meta Profile of {{ meta_name }}, from {{ region }} </h2>
<h3>Work</h3>
<h4>Title</h4>
{{ title }}
<br>
<h4>Background Summary</h4>
{{ jobprofilesummary }}
<br>
<h4>Currently working at</h4>
{{ currentjob }}
<br>
<h4>Previously worked at</h4>
{% for a_job in previous_jobs %}
{{ a_job }}
<br>
{% end %}
<h4>Education</h4>
{% for an_edu in education %}
{{ an_edu }}
<br>
{% end %}

<br>
<h4>Work Interests<h4>
{% for interest in work_interests %}
{{ interest }}
<br>
{% end %}

<h3>Personal</h3>
<h4>Interests and Hobbies</h4>
{{ interests_and_hobbies }}
<br>
<h4>Groups</h4>
{% for a_group in currentgroups %}
{{ a_group }}
<br>
{% end %}
<h4>Passions</h4>
{% for a_tweet in current_tweets %}
{{ a_tweet }}
<br>
{% end %}
</body>

</html>

