<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<title>Talent Neuron SmartSpider Proto-type Meta Profile</title>
</head>


<body lang=EN-US>
<h1>Meta Profile of {{ meta_name }}, from {{ region }} </h1>
<h2>Work</h2>
<h3>Title</h3>
{{ title }}
<br>
<h3>Background Summary</h3>
{{ jobprofilesummary }}
<br>
<h3>Currently working at</h3>
{{ currentjob }}
<br>
<h3>Previously worked at</h3>
{% for a_job in previous_jobs %}
{{ a_job }}
<br>
{% end %}
<h3>Education</h3>
{% for an_edu in education %}
{{ an_edu }}
<br>
{% end %}



<br>
<h3>Work Interests<h3>
{% for interest in work_interests %}
{{ interest }}
<br>
{% end %}

<h2>Personal</h2>
<h3>Interests and Hobbies</h3>
{{ interests_and_hobbies }}
<br>
<h3>Groups</h3>
{% for a_group in currentgroups %}
{{ a_group }}
<br>
{% end %}
<h3>Passions</h3>
{% for a_tweet in current_tweets %}
{{ a_tweet }}
<br>
{% end %}
</body>

</html>

